@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Witaj</h1>
    <p>Aplikacja .NET MVC do zarządzania listą produktów. Dostępne akcje to:</p>
    <div>
        <p>- dodawanie nowych produktów,</p>
        <p>- edytowanie istniejących,</p>
        <p>- usuwanie,</p>
        <p>- przeszukiwanie według nazwy, czy ceny.</p>
    </div>
</div>
